{{ up|raw }}
<div id="teamPage">
	<div id="container">
		<div id="header">
            <div id="logo" style="text-align: center">
                <img src="{{ section.image }}" alt="Logo"/>
            </div>
			<br/><br/><br/><br/><br/><br/>
            {{ section.text }}
			<p class="presentation" style="text-align:center; padding-top: 1px">
                {% for category in categories %}
                    {% include 'DvpTeamBundle:Default:headerList.html.twig' with {'category': category, 'section': section} only %}
                {% endfor %}
			</p>
		</div>
		<div id="membres">
			<table style="width: 100%;">
                {% for category in categories %}
                    {% include 'DvpTeamBundle:Default:list.html.twig' with {'category': category, 'section': section} only %}
                {% endfor %}
			</table>
		</div>
	</div>
</div>
{{ down|raw }}