{{ up|raw }}
<div id="teamPage">
	<div id="container">
		<div id="header">
            <div id="logo" style="text-align: center">
                <img src="{{ section.image }}" alt="Logo"/>
            </div>
			<br/><br/><br/><br/><br/><br/>
            {{ section.text }}
			<p class="presentation" style="text-align:center; padding-top: 1px">
                {% for category in categories %}
                    {% include 'DvpTeamBundle:Default:list.html.twig' with {'category': category, 'section': section} only %}
                {% endfor %}
			</p>
		</div>
		<div id="membres">
			<table style="width: 100%;">
			<?php foreach($resps as $r): ?>
				<?php include_partial('content_member', array('r' => $r, 'certif' => $certif, 'rang' => $rang, 'membreCertif' => $membreCertif, 'membreRang' => $membreRang, 'membreSite' => $membreSite)); ?>
			<?php endforeach; ?>
			<?php foreach($redacs as $r): ?>
				<?php include_partial('content_member', array('r' => $r, 'certif' => $certif, 'rang' => $rang, 'membreCertif' => $membreCertif, 'membreRang' => $membreRang, 'membreSite' => $membreSite)); ?>
			<?php endforeach; ?>
			<?php foreach($autres as $r): ?>
				<?php include_partial('content_member', array('r' => $r, 'certif' => $certif, 'rang' => $rang, 'membreCertif' => $membreCertif, 'membreRang' => $membreRang, 'membreSite' => $membreSite)); ?>
			<?php endforeach; ?>
			<?php foreach($anciens as $r): ?>
				<?php include_partial('content_member', array('r' => $r, 'certif' => $certif, 'rang' => $rang, 'membreCertif' => $membreCertif, 'membreRang' => $membreRang, 'membreSite' => $membreSite)); ?>
			<?php endforeach; ?>
			</table>
		</div>
	</div>
</div>
{{ down|raw }}